* {
    padding: 0;
    margin: 0;
  }
  

  
.nav {
    display: flex;
    flex-direction: column;
    background: #222222;
    height: 100vh;
  
    .nav_item {
      padding: 12px 18px;
      text-decoration: none;
      color: #eeeeee;
      font-weight: 500;
  
      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
  
#earthCanvas {
    border: 2px solid white;
    /* 추가적인 canvas 스타일 지정 가능 */
}

